<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" >ABC Systems</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"  [routerLink]="['/visits']" routerLinkActive="active">Visits <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  *ngIf="user=='SC'" [routerLink]="['/newvisit']" routerLinkActive="active">New Vist</a>
        </li>
        <!-- <span class="navbar-text" style="color:white;">
            Hello
          </span> -->
          <div class="nav-item navbar-right pull-right" style="margin-left: 900px;">
            <button  class="btn btn-danger btn-sm pull-right" (click)="logout()"><strong>Logout</strong></button>
         </div>

      </ul>
      
    </div>
  </nav>
  <router-outlet></router-outlet>