
<div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form #f="ngForm" (ngSubmit)="onSubmit()" class="form-container m-5 shadow p-4 " style="border-top: 10px solid #343A40;">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group required">
                        <label class="control-label">Customer Name</label>
                        <input type="text" name="name" id="name" class="form-control" [pattern]="'^[A-Za-z].*'" maxlength="20" #name="ngModel" [(ngModel)]="v.custName" required="required">
                        <span class="text-danger" *ngIf="(!name.valid && name.touched) || name.errors?.pattern ">
                            Please enter valid cutomer  Name
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group required">
                        <label class="control-label">Interested Product</label>
                        <input type="text" name="product" id="product" class="form-control" [pattern]="'^[A-Za-z].*'" maxlength="20" #name="ngModel" [(ngModel)]="v.interestProduct" required="required">
                        <span class="text-danger" *ngIf="(!name.valid && name.touched) || name.errors?.pattern ">
                            Please enter valid product name
                        </span>
                    </div>
                   
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group  required">
                        <label class="control-label">Contct Number</label>
                        <input type="number" name="contactNo" id="contactNo" class="form-control"  maxlength="10" #contactNo="ngModel" [(ngModel)]="v.contactNo" required="required">
                        <span class="text-danger" *ngIf="(!contactNo.valid && contactNo.touched) ">
                            Please enter valid contact
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group  required">
                        <label class="control-label">Contact Person</label>
                        <input type="text" name="contactPerson" id="contactPerson" class="form-control"   #contactPerson="ngModel" [(ngModel)]="v.contactPerson" required="required">
                        <span class="text-danger" *ngIf="(!contactNo.valid && contactNo.touched) ">
                            Please enter valid contact person name
                        </span>
                    </div>
                </div></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group  required">
                            <label class="control-label">Employee ID</label>
                            <input type="number" name="empId" id="empId" class="form-control"  maxlength="10" #empId="ngModel" [(ngModel)]="v.empId" required="required">
                            <span class="text-danger" *ngIf="(!empId.valid && empId.touched) ">
                                Please enter valid Employee ID
                            </span>
                        </div>
                    </div>
                </div>
            
             <div class=" row form-group required">
                 <div class="col-md-12">
                    <label class="control-label">Description</label>
                    <textarea name="text" cols="50" rows="2" name="description" id="description" class="form-control" #description="ngModel" [(ngModel)]="v.description" required="required"></textarea>
                    <!-- <input type="text" name="description" id="description" class="form-control" #description="ngModel" [(ngModel)]="resource.description" required="required"> -->
                    <span class="text-danger" *ngIf="(description.touched) && description.invalid">
                        Please enter valid Description
                    </span>
                </div>    
                 
           </div> <hr>
            <div class="row">
                <div class="col-md-6 ">
                    <button type="submit"  class="btn btn-block btn-success" >Submit</button>       
                </div>
                <div class="col-md-6">
                    <button class=" btn btn-danger  btn-block" [routerLink]="['/visits']">Back</button>
                </div>
              
            </div>       
        </form>
</div>
</div>
</div>

